<title>Home</title>  
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h3">Home</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>
    {{>_msg}}
    <div class="card-deck">
        
        {{!-- card 1--}}
        <div class="card" style="width: 18rem; background-color: #006699;">
        <div class="card-body">
            <h5 class="card-title" style="color: white;">{{total_produtos}}</h5>
            <svg class="bi bi-file-earmark-text feather" style="width: 6em; height: 5em;vertical-align:middle;fill: #004466;overflow: hidden;position: absolute;right: 9px; bottom:13px" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <path d="M58.18714 261.513847 489.750985 506.066692C497.230148 510.304885 506.385346 510.304885 513.86451 506.066692L945.428356 261.513847C962.456593 251.864512 961.814227 227.116685 944.308329 218.363735L512.744484 2.581813C505.859648-0.860604 497.755846-0.860604 490.871012 2.581813L59.307167 218.363735C41.801269 227.116685 41.158901 251.864512 58.18714 261.513847L58.18714 261.513847ZM82.300665 218.960567 81.180638 262.110679 512.744484 46.328756 490.871012 46.328756 922.434857 262.110679 921.314829 218.960567 489.750985 463.513412 513.86451 463.513412 82.300665 218.960567 82.300665 218.960567ZM477.352463 504.929698 477.352463 974.793958C477.352463 993.514057 497.526411 1005.2927 513.828779 996.090807L974.163548 736.254285C981.846246 731.917777 986.597801 723.77952 986.597801 714.957436L986.597801 398.477284C986.597801 384.971004 975.648796 374.021999 962.142515 374.021999 948.636235 374.021999 937.687232 384.971004 937.687232 398.477284L937.687232 714.957436 950.121483 693.660589 489.786716 953.497111 526.263031 974.793958 526.263031 504.929698C526.263031 491.423418 515.314029 480.474415 501.807748 480.474415 488.301468 480.474415 477.352463 491.423418 477.352463 504.929698L477.352463 504.929698ZM514.421935 953.842987 82.858091 694.006466 94.699187 714.957436 94.699187 254.622669C94.699187 241.116388 83.750183 230.167383 70.243903 230.167383 56.737622 230.167383 45.788618 241.116388 45.788618 254.622669L45.788618 714.957436C45.788618 723.534342 50.281834 731.484386 57.629714 735.908407L489.193559 995.74493C500.764461 1002.711554 515.792096 998.979049 522.758718 987.408147 529.725342 975.837246 525.992838 960.809611 514.421935 953.842987L514.421935 953.842987ZM172.745454 448.218441 316.60007 534.531209C328.181609 541.480132 343.203518 537.724655 350.152444 526.143115 357.101367 514.561577 353.34589 499.539667 341.76435 492.590741L197.909735 406.277973C186.328194 399.32905 171.306285 403.084527 164.357361 414.666067 157.408437 426.247607 161.163914 441.269517 172.745454 448.218441L172.745454 448.218441Z" />
            </svg>
            <h6 class="card-subtitle mb-2" style="color: white;">Total de produtos</h6>
            
        </div>
        </div>

          {{!-- card 2--}}
        <div class="card" style="width: 18rem; background-color: #004666;">
        <div class="card-body">
            <h5 class="card-title" style="color: white;">{{total_clientes}}</h5>
            <svg class="bi bi-file-earmark-text feather" style="width: 6em; height: 5em;vertical-align:middle;fill: #002333;overflow: hidden;position: absolute;right: 9px; bottom:13px" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <path d="M180.146 918.098c-16.559 0-30.032-13.367-30.032-29.796l0-73.033c0-72.949 22.066-143.18 63.811-203.094 40.768-58.509 97.366-103.349 163.677-129.669l10.915-4.333-9.258-7.226c-52.175-40.723-82.098-101.573-82.098-166.948 0-117.108 95.929-212.383 213.841-212.383s213.841 95.276 213.841 212.383c0 65.373-29.923 126.223-82.097 166.948l-9.257 7.226 10.913 4.333c66.319 26.321 122.915 71.155 163.679 129.655 41.745 59.909 63.809 130.144 63.807 203.107l0 73.033c0 16.429-13.472 29.796-30.032 29.796l-661.709 0zM511.038 516.385c-165.891 0-300.852 134.08-300.852 298.884l0 43.243 601.633 0 0-43.243c0-164.803-134.929-298.884-300.781-298.884zM511.003 151.201c-84.789 0-153.773 68.547-153.773 152.804 0 84.254 68.983 152.799 153.773 152.799 84.791 0 153.775-68.545 153.775-152.799 0.001-84.257-68.982-152.804-153.775-152.804zM33.102 808.541c-16.559 0-30.032-13.365-30.032-29.792l0-56.495c0-107.167 59.184-204.189 154.455-253.206l7.82-4.023-5.929-6.497c-29.703-32.545-46.062-74.442-46.062-117.97 0-95.967 77.774-174.231 173.996-175.874-0.614 0.979-1.223 1.962-1.827 2.947-14.827 19.391-26.307 40.806-34.16 63.708-46.762 16.503-77.941 59.971-77.941 109.217 0 45.47 26.976 87.019 68.724 105.849l0.197 0.089 0.201 0.076c12.435 4.678 20.47 15.463 20.47 27.476 0 12.311-8.641 23.481-21.534 27.872l-6.883 1.634c-100.99 25.334-171.466 115.259-171.466 218.702l0 26.706 35.09 0c-3.573 19.622-5.561 39.6-5.925 59.583l-59.195 0zM929.316 808.537c-0.364-19.985-2.352-39.961-5.924-59.578l35.085 0 0-26.706c0-103.445-70.475-193.37-171.386-218.679l-6.96-1.653c-12.886-4.39-21.525-15.559-21.525-27.873 0-12.011 8.034-22.797 20.466-27.476l0.201-0.074 0.195-0.089c41.751-18.83 68.729-60.379 68.729-105.849 0-49.251-31.183-92.718-77.951-109.217-7.847-22.906-19.327-44.322-34.155-63.717-0.604-0.986-1.213-1.966-1.828-2.943 96.225 1.643 173.998 79.909 173.998 175.879 0 43.536-16.357 85.431-46.062 117.969l-5.93 6.497 7.822 4.025c95.273 49.015 154.454 146.038 154.45 253.206l0 56.495c0 16.423-13.471 29.786-30.031 29.786l-59.193 0z" />
            </svg>
            <h6 class="card-subtitle mb-2" style="color: white;">Total de clientes</h6>
            
        </div>
        </div>


        {{!-- card 3--}}
        <div id="card3" class="card" style="width: 18rem; background-color: #333399;"></div>

        {{!-- card 4--}}
        <div id="card4" class="card" style="width: 18rem; background-color: #4d0099;"></div>
        
    </div>
    <script>
        
        function formata(n){
            return n.replace('.', ",").replace(/\B(?=(\d{3})+(?!\d))/g, ".")   
        }

        let dataAtual = new Date()
        let mesAtual = dataAtual.getMonth() + 1
        const card4 = document.getElementById('card4')
        const card3 = document.getElementById('card3')
        let lucroMes = 0
        let mesVend
        let total_preco = {{total_preco}}
        console.log(total_preco)
        
        {{#each produtosVendidos}}
            mesVend = new Date('{{dataVend}}')
            if(mesVend.getMonth() + 1 == mesAtual) {
                lucroMes += {{lucro}}
            }
        {{/each}}

        lucroMes = formata(lucroMes.toFixed(2))
        total_preco = formata(total_preco.toFixed(2))
        
        let dataHtml =
        `                       
            <div class="card-body">
                <h5 class="card-title" style="color: white;">R$ ${lucroMes}</h5>
                <svg class="bi bi-file-earmark-text feather" style="width: 16em; height: 16em;vertical-align:middle;fill: #26004d;overflow: hidden;position: absolute;left: 170px; top:14px" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">  
                    <path d="M288.244,186.169c-7.196-7.195-17.376-9.791-26.728-7.769c8.316-16.588,13.006-35.295,13.006-55.079 C274.522,55.321,219.201,0,151.201,0S27.881,55.321,27.881,123.32c0,26.492,8.398,51.058,22.67,71.179 c-11.905,1.762-22.933,7.636-31.038,16.732c-8.929,10.021-13.847,22.933-13.847,36.355v28.805c0,4.49,3.31,8.293,7.757,8.914 l112.091,15.634c7.03,0.98,14.062,1.468,21.059,1.468c24.172,0,47.918-5.812,69.655-17.162 c7.192-3.755,14.166-8.147,20.728-13.055c14.189-10.611,27.83-22.246,40.544-34.579l10.432-10.12 c5.62-5.452,8.748-12.766,8.808-20.596C296.8,199.065,293.781,191.706,288.244,186.169z M45.881,123.321 C45.881,65.247,93.127,18,151.201,18c58.074,0,105.321,47.247,105.321,105.32c0,52.631-38.805,96.369-89.306,104.105h-0.984 l11.244-4.917c0.234-0.103,0.464-0.215,0.688-0.337c15.112-8.207,21.179-26.807,13.811-42.345c-1.061-2.238-2.379-4.324-3.9-6.238 c2.709-5.479,4.239-11.641,4.239-18.155c0-19.577-13.76-35.992-32.113-40.108V69.92c8.286,3.516,14.113,11.734,14.113,21.288 c0,4.971,4.029,9,9,9c4.971,0,9-4.029,9-9c0-19.577-13.76-35.992-32.113-40.108v-8.47c0-4.971-4.029-9-9-9s-9,4.029-9,9v8.47 c-18.353,4.117-32.113,20.531-32.113,40.108c0,19.577,13.76,35.991,32.113,40.108v36.346l-7.728,3.694 c-3.951-4.149-6.385-9.756-6.385-15.923c0-4.971-4.029-9-9-9s-9,4.029-9,9c0,8.91,2.859,17.161,7.694,23.902l-30.584,14.621 l-14.062-0.012C56.207,175.249,45.881,150.469,45.881,123.321z M174.315,155.432c-0.001,2.655-0.456,5.204-1.283,7.579 c-0.18-0.061-0.357-0.129-0.538-0.186c-3.997-1.267-8.176-1.718-12.292-1.398v-27.283 C168.488,137.66,174.315,145.878,174.315,155.432z M142.201,69.92v42.576c-8.286-3.516-14.113-11.734-14.113-21.288 S133.915,73.436,142.201,69.92z M275.397,214.572l-10.432,10.12c-12.164,11.8-25.215,22.931-38.791,33.083 c-5.791,4.331-11.941,8.205-18.278,11.514c-24.687,12.89-52.315,17.668-79.896,13.823L23.665,268.56v-20.973 c0-9.001,3.298-17.66,9.287-24.381c6.385-7.167,15.55-11.275,25.149-11.275c0.009,0,0.019,0,0.028,0l31.098,0.027 c0.002,0,0.005,0,0.008,0c1.343,0,2.669-0.301,3.881-0.88l61.967-29.622c0.185-0.088,0.366-0.183,0.544-0.284 c3.519-1.986,7.575-2.408,11.428-1.188c3.851,1.221,6.925,3.904,8.656,7.554c3.226,6.802,0.657,14.925-5.841,18.65l-50.282,21.992 c-3.903,1.707-6.075,5.917-5.203,10.088c0.872,4.171,4.549,7.158,8.81,7.158h59.726c19.079,0,37.013-7.423,50.51-20.903 l26.664-25.758c4.289-4.142,11.207-4.083,15.422,0.133c2.1,2.101,3.244,4.893,3.222,7.863 C278.716,209.729,277.529,212.504,275.397,214.572z"/>	
                </svg>
                <h6 class="card-subtitle mb-2" style="color: white;">Lucro do mês atual</h6>
            </div>
        `

        let dataHtml2 = 
        `
            <div class="card-body">
                <h5 class="card-title" style="color: white;">R$ ${total_preco}</h5>
                <svg class="bi bi-file-earmark-text feather" style="width: 11em; height: 10em;vertical-align:middle;fill: #202060;overflow: hidden;position: absolute;left: 160px; top:12px" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <g>
                            <path d="M474.101,134.021c-3.9-3.9-10.2-3.9-14.1,0c-3.9,3.9-3.9,10.2,0,14.1c16.2,16.6,16,43.2-0.6,59.4c-16.3,16-42.5,16-58.8,0
                                c-0.2-0.2-0.3-0.3-0.5-0.4c-15-21-34.2-38.6-56.4-51.8c22.9-54-2.4-116.3-56.4-139.2c-54-22.9-116.3,2.4-139.2,56.4
                                c-4.7,11-7.4,22.7-8.2,34.6c-10.6-3-19.1-4.4-25.7-4.2c-10.6,0.1-18.4,6.7-19.6,16.5c-0.7,4.3-0.2,10.6,2.1,31.1l2.1,19.6
                                c-19.2,15.6-34.3,33.8-45.2,54.2l-29,5.9c-14.4,2.9-24.7,15.6-24.6,30.3v64.4c-0.1,14.7,10.2,27.3,24.6,30.2l29.1,5.8
                                c5.7,11.2,12.7,21.7,20.9,31.3c-10.8,26.8-2.8,57.6,19.6,75.9c13.3,10.8,30,16.7,47.2,16.6c19.5,0,38.3-7.4,52.6-20.8l7-6.6
                                c25.9,3.9,52.2,3.1,77.8-2.4l9.9,9.4c13.7,12.9,31.9,20.1,50.7,19.9h2.1c0.1,0,0.2,0.1,0.3,0.1c19.6-0.5,38.2-8.7,51.8-22.9
                                c21-22.2,23.5-55.6,6.9-81.8c18.8-26.2,28.6-56.2,28.6-87.2v-7.3c0-0.2,0-0.4,0-0.6c-0.9-14.9-4.8-30.3-11.6-45.9
                                c4.2,0.9,8.5,1.3,12.9,1.3c34.2,0,62-27.7,62-62C492.301,161.521,485.801,145.721,474.101,134.021z M246.001,27.821
                                c47.5-0.1,86.1,38.4,86.2,85.9c0.1,28.7-14.2,55.6-38.1,71.6c-0.8,0.6-1.6,1.9-2.2,1.9h-91.4c-0.4,0-0.9-0.7-1.4-1
                                c-22.7-14.7-37.2-39.2-39.1-66.1c-0.2-2.3-0.2-4.2-0.2-6.1C159.901,66.421,198.401,27.921,246.001,27.821z M381.001,372.221
                                c-1.7,2-4.3,6.6-1.1,12.8c0.3,0.6,0.6,1.1,1,1.6c14.5,18.9,13.7,44.5-1.9,61c-9.9,10.3-23.3,16.6-37.8,16.6h-1.9
                                c-13.7,0.2-26.9-5-36.9-14.3l-13-12.4c-2.3-2.2-5.4-3.4-8.5-3.3c-0.8,0-1.5,0.1-2.3,0.3c-25.7,6.1-52.4,6.9-78.4,2.5
                                c-0.6-0.1-1.1-0.1-1.7-0.1c-3.2-0.1-6.2,1.1-8.5,3.3l-9.8,9.3c-10,9.3-22.9,14.6-36.5,15.2c-13.3,0.7-26.5-3.6-36.9-11.9
                                c-16.7-13.6-21.7-36.9-12.2-56.2c1.5-2.5,1.9-5.6,1.1-8.5c-0.4-1.8-1.2-3.4-2.4-4.7c-9.4-10.3-17.3-22-23.4-34.6
                                c-0.5-1-1.1-1.9-1.9-2.7c-1.9-2-4.4-3.4-7.1-3.9l-32.2-6.5c-5-1-8.6-5.5-8.5-10.6v-64.7c-0.1-5.1,3.5-9.6,8.5-10.6l32.3-6.5
                                c2.7-0.5,5.2-1.8,7.1-3.9c0.8-0.8,1.4-1.6,1.9-2.6c10-20.5,25.2-38.6,44.9-53.9c0.3-0.3,0.6-0.5,0.9-0.8c2.3-2.3,3.5-5.4,3.4-8.6
                                c0-0.4,0-0.7-0.1-1.1l-2.6-24c-0.9-7.7-2.4-21.6-2.2-25.4c0.1,0,0.3,0,0.4,0c4-0.1,11.7,0.6,26,5.3c3,22.2,13,42.8,28.5,59h-9.5
                                c-5.5,0-10,4.5-10,10s4.5,10,10,10h173.3c5.5,0,10-4.5,10-10s-4.5-10-10-10h-10.4c4.4-4.3,8.3-9.1,11.6-14.3
                                c23.1,14,42.1,32.8,55.3,54.4l7,13.7c7.3,15.1,11.5,30.4,12.5,44.4v6.9h0C409.001,320.921,399.401,348.521,381.001,372.221z"/>
                        </g>
                    </g>
                    <g>
                        <g>
                            <path d="M138.501,242.221c-14.2,0-25.6,11.5-25.6,25.6c0,14.2,11.5,25.6,25.6,25.6c14.1,0,25.6-11.5,25.6-25.6
                                C164.101,253.721,152.701,242.221,138.501,242.221z M138.501,273.521c-3.1,0-5.6-2.5-5.6-5.6c0-3.1,2.5-5.6,5.6-5.6
                                c3.1,0,5.6,2.5,5.6,5.6C144.101,271.021,141.601,273.521,138.501,273.521z"/>
                        </g>
                    </g>
                    <g>
                        <g>
                            <path d="M246.001,101.221c-6.9,0-12.6-5.6-12.6-12.6c0-6.9,5.6-12.6,12.6-12.6s12.6,5.6,12.6,12.6c0,5.5,4.5,10,10,10
                                s10-4.5,10-10c-0.1-14.1-9.2-26.6-22.6-31v-4.4c0-5.5-4.5-10-10-10s-10,4.5-10,10v4.4c-17.1,5.5-26.5,23.9-21,41
                                c4.3,13.5,16.9,22.6,31,22.6c7,0.1,12.6,5.8,12.5,12.7c-0.1,6.9-5.6,12.4-12.5,12.5c-7,0-12.6-5.7-12.6-12.6
                                c0.1-5.5-4.2-10.1-9.8-10.2c-5.6-0.1-10.1,4.2-10.2,9.8c0,0.2,0,0.3,0,0.5c0,14.1,9.2,26.7,22.6,31.1v3.2c0,5.5,4.5,10,10,10
                                s10-4.5,10-10v-3.2c17.1-5.5,26.5-23.9,21-41.1C272.601,110.321,260.101,101.221,246.001,101.221z"/>
                        </g>
                    </g> 
                </svg>
                <h6 class="card-subtitle mb-2" style="color: white;">Valor do estoque</h6>
                
            </div>
        `

        card4.innerHTML = dataHtml
        card3.innerHTML = dataHtml2
    </script>
</main>

